* { box-sizing: border-box; }
body {
   background: linear-gradient(-45deg, #7d87cf, #6866d6, #7b4cb8, #85f8e5, #7d87cf, #7b4cb8);
    background-size: 400% 400%;
    animation: gradientBG 8s ease infinite;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


.form-wrapper {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-box.hidden {
  display: none;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

input {
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

button {
  padding: 0.75rem;
  background-color: #4e54c8;
 
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #3c3fad;
}

p {
  text-align: center;
  margin-top: 1rem;
}

a {
  color: #4e54c8;
  text-decoration: none;
  font-weight: bold;
}
